/* styles.css */

/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
}

/* Apply styles to the table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; /* Adjust margin top as needed */
}

/* Apply styles to table rows */
tr {
     /* Set the height of each row to 50px */
    width: 100%; /* Set the width of each row to 100% */
}
td{
    
    vertical-align: top;
}

/* Apply alternating background colors to table rows */
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}
td{
    width: 100%;
}

/* Apply styles to table cells */
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Apply styles to links */
a {
    color: blue;
    text-decoration: none;
}

/* Apply hover effect to links */
a:hover {
    text-decoration: underline;
}
